# Ignore files from outer project
.DS_Store
.next/
.eslintcache
node_modules/
pkg/

# Ignore files from wasm-pack
mandelbrot-generator/target/
mandelbrot-generator/**/*.rs.bk
mandelbrot-generator/bin/
mandelbrot-generator/pkg/
mandelbrot-generator/wasm-pack.log

